---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About">
  <Page title="About Me">
    <p>
      Hello! I'm Neha, an aspiring author with a deep passion for language, history,
       and social issues. I have completed my MA in English, BA in English and Ancient 
       History, and a B.Ed. Throughout my academic journey, I have cultivated a love 
       for understanding the intricacies of human experiences, both in the past and present.
    </p>

    <p>
      As someone who has always been fascinated by how stories shape society, I aspire 
      to use my writing to highlight important social issues. My aim is to inspire change, 
      promote dialogue, and contribute to the betterment of society through thoughtful, empathetic, and insightful narratives.
    </p>

    <p>
      In my free time, I enjoy diving into literature, exploring historical
       contexts, and connecting with people from all walks of life to understand 
       the diverse perspectives that make up our world. I believe that words have 
       the power to inspire action and create lasting change, and I’m eager to embark on this journey as an author.
    </p>

  </Page>
</Base>
